
.example-menu-item,
.example-standalone-trigger {
  background-color: blanchedalmond;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
  }

li {
    list-style-type:none;

}

.two-columns-container {
  display: flex;
  width: 100%;
}

.column-80 {
  flex: 0 0 80%;  /* No grow, no shrink, 80% width */
  /* O simplemente: width: 80%; */
}

.column-20 {
  flex: 0 0 20%;  /* No grow, no shrink, 20% width */
  /* O simplemente: width: 20%; */
}
